.custom-tooltip {
  color: var(--background-color);
  background-color: var(--primary-text-color);
  border: 1px solid var(--background-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  opacity: 0.9;
}
