.graph-orchestrator {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &-input {
        width: 40%;
        height: 100vh;
        margin-block-start: 20%;
    }

    &-display {
        width: 60%;
    }
}